<div class="container container_12">
    <% @latest_matches.each do |match| %>
        <div class="grid_2"><%= match.country_one.name %></div>
        <div class="grid_1">v.</div>
        <div class="grid_2"><%= match.country_two.name %></div>
        <div class="grid_2"><%= match.stadium.city %></div>
        <div class="grid_2"><%= match.date.strftime("%d-%b, %a") %>&nbsp;<%= image_tag "moon.png", :size => "24x24", :valign => 'bottom' if match.day_night? %></div>
        <%= link_to 'Play', {:action => 'play', :match => match.id}, :class => 'grid_1' %>
        <div class='clear'>&nbsp;</div>
    <% end %>
</div>
