<script type="text/javascript">
  var i = 0;
  imageObj = new Image();
  images = new Array();
  images.push("/images/stadia-over.jpg");
  images.push("/images/teams-over.png");
  images.push("/images/schedule-over.png");
  images.push("/images/gilli-over.png");
  images.push("/images/rummyg-over.png");
  images.push("/images/mangatha-over.png");

  for (i = 0; i < images.length; i++) {
    imageObj.src = images[i];
  }
</script>
<table class="grid_12">
  <tbody>
    <tr>
      <td colspan="5" align="center" class="graublau zoom inner_shadow">The Settings</td>
    </tr>
    <tr>
      <td>
        <%=image_tag "stadia.png", {:class => "hoverswap", :alt => "/ipl/stadia", :style => "border:0;"} %>
      </td>
      <td>&nbsp;</td>
      <td>
        <%=image_tag "teams.png", {:class => "hoverswap", :alt => "/ipl/teams", :style => "border:0;"} %>
      </td>
      <td>&nbsp;</td>
      <td>
        <%=image_tag "schedule.png", {:class => "hoverswap", :alt => "/ipl/schedule", :style => "border:0;"} %>
      </td>
    </tr>
    <tr>
      <td><br/><td>
    </tr>
    <tr>
      <td colspan="5" align="center" class="graublau zoom inner_shadow">The Games</td>
    </tr>
    <tr>
      <td>
        <%=image_tag "gilli.png", {:alt => "/ipl/soon", :class => "hoverswap", :style => "border:0;"} %>
      </td>
      <td>&nbsp;</td>
      <td>
        <%=image_tag "rummyg.png", {:alt => "/ipl/soon", :class => "hoverswap", :style => "border:0;"} %>
      </td>
      <td>&nbsp;</td>
      <td>
        <%=image_tag "mangatha.png", {:alt => "/ipl/soon", :class => "hoverswap", :style => "border:0;"} %>
      </td>
    </tr>
  </tbody>
</table>
