<script type="text/javascript">
  loadIndexImages();
</script>
<table width="70%" align="center">
  <tbody>
    <tr>
      <td colspan="5" align="center" class="graublau zoom inner_shadow">The Settings</td>
    </tr>
    <tr>
      <td><%=image_tag "https://s3-ap-southeast-1.amazonaws.com/openbala/stadia.jpg", {:class => "jsShadow jsIndex hoverswap", :name => "0", :alt => "/ipl/stadia", :style => "border:0;"} %></td>
      <td>&nbsp;</td>
      <td><%=image_tag "https://s3-ap-southeast-1.amazonaws.com/openbala/teams.jpg", {:class => "jsShadow jsIndex hoverswap", :name => "1", :alt => "/ipl/teams", :style => "border:0;"} %></td>
      <td>&nbsp;</td>
      <td><%=image_tag "https://s3-ap-southeast-1.amazonaws.com/openbala/schedule.jpg", {:class => "jsShadow jsIndex hoverswap", :name => "2", :alt => "/ipl/schedule", :style => "border:0;"} %></td>
    </tr>
    <tr>
      <td><br/><td>
    </tr>
    <tr>
      <td colspan="5" align="center" class="graublau zoom inner_shadow">The Games</td>
    </tr>
    <tr>
      <td><%=image_tag "https://s3-ap-southeast-1.amazonaws.com/openbala/gilli.jpg", {:alt => "/ipl/soon", :name => "3", :class => "jsShadow jsIndex hoverswap", :style => "border:0;"} %></td>
      <td>&nbsp;</td>
      <td><%=image_tag "https://s3-ap-southeast-1.amazonaws.com/openbala/rummyg.jpg", {:alt => "/ipl/soon",  :name => "4", :class => "jsShadow jsIndex hoverswap", :style => "border:0;"} %></td>
      <td>&nbsp;</td>
      <td><%=image_tag "https://s3-ap-southeast-1.amazonaws.com/openbala/mangatha.jpg", {:alt => "/ipl/soon",  :name => "5", :class => "jsShadow jsIndex hoverswap", :style => "border:0;"} %></td>
    </tr>
  </tbody>
</table>
