<script type="text/javascript">
  loadTeamImages();
</script>
<div class="clearfix">&nbsp;</div>
<table class="grid_12">
  <tbody>
    <tr width="100%">
      <td class="space_5" align="center"><%=image_tag "https://s3-ap-southeast-1.amazonaws.com/openbala/csk.png", {:class => "jsTeam hoverswap", :name => "0",  :alt => "/ipl/soon", :style => "border:0;"} %></td>
      <td class="space_5" align="center"><%=image_tag "https://s3-ap-southeast-1.amazonaws.com/openbala/dc.png",  {:class => "jsTeam hoverswap", :name => "1", :alt => "/ipl/soon", :style => "border:0;"} %></td>
      <td class="space_5" align="center"><%=image_tag "https://s3-ap-southeast-1.amazonaws.com/openbala/dd.png",  {:class => "jsTeam hoverswap", :name => "2", :alt => "/ipl/soon", :style => "border:0;"} %></td>
      <td class="space_5" align="center"><%=image_tag "https://s3-ap-southeast-1.amazonaws.com/openbala/kkr.png", {:class => "jsTeam hoverswap", :name => "3",  :alt => "/ipl/soon", :style => "border:0;"} %></td>
      <td class="space_5" align="center"><%=image_tag "https://s3-ap-southeast-1.amazonaws.com/openbala/ktk.png", {:class => "jsTeam hoverswap", :name => "4",  :alt => "/ipl/soon", :style => "border:0;"} %></td>
    </tr>
    <tr>
      <td><br/><td>
    </tr>
    <tr width="100%">
      <td class="space_5" align="center"><%=image_tag "https://s3-ap-southeast-1.amazonaws.com/openbala/kx.png",  {:class => "jsTeam hoverswap", :name => "5", :alt => "/ipl/soon", :style => "border:0;"} %></td>
      <td class="space_5" align="center"><%=image_tag "https://s3-ap-southeast-1.amazonaws.com/openbala/mi.png",  {:class => "jsTeam hoverswap", :name => "6", :alt => "/ipl/soon", :style => "border:0;"} %></td>
      <td class="space_5" align="center"><%=image_tag "https://s3-ap-southeast-1.amazonaws.com/openbala/rcb.png", {:class => "jsTeam hoverswap", :name => "7",  :alt => "/ipl/soon", :style => "border:0;"} %></td>
      <td class="space_5" align="center"><%=image_tag "https://s3-ap-southeast-1.amazonaws.com/openbala/rr.png",  {:class => "jsTeam hoverswap", :name => "8", :alt => "/ipl/soon", :style => "border:0;"} %></td>
      <td class="space_5" align="center"><%=image_tag "https://s3-ap-southeast-1.amazonaws.com/openbala/spw.png", {:class => "jsTeam hoverswap", :name => "9",  :alt => "/ipl/soon", :style => "border:0;"} %></td>
    </tr>
  </tbody>
</table>
<div class="clearfix">&nbsp;</div>
