<table id="rounded-corner">
  <thead>
    <tr>
      <th id = "sort_name" class="ascend" scope="col"><%= sortable "name" %></th>
      <th scope="col"><%= sortable "country" %></th>
      <th scope="col"><%= sortable "runs" %></th>
      <th scope="col"><%= sortable "fours" %></th>
      <th scope="col"><%= sortable "sixes" %></th>
      <th scope="col"><%= sortable "wickets" %></th>
      <th scope="col"><%= sortable "overs" %></th>
      <th scope="col"><%= sortable "extras" %></th>
      <th scope="col"><%= sortable "maidens" %></th>
      <th scope="col"><%= sortable "matches" %></th>
    </tr>
  </thead>
  <tbody>
    <% @players.each do |player| %>
      <tr>
        <td><%= player[:name] %></td>
        <td><%= player[:country] %></td>
        <td><%= player[:runs] %></td>
        <td><%= player[:fours] %></td>
        <td><%= player[:sixes] %></td>
        <td><%= player[:wickets] %></td>
        <td><%= player[:overs] %></td>
        <td><%= player[:extras] %></td>
        <td><%= player[:maidens] %></td>
        <td><%= player[:matches] %></td>
      </tr>
    <% end %>
  </tbody>
</table>
