<div class="grid_6 desc" align="center"><strong><%= title%></strong></div>
<div class="clear">&nbsp;</div>

  <div class="grid_6">
<% User.per_page.times do |i| %>
    <% if users[i] %>
      <div style="width:30px;float:left;">&nbsp;</div>
        <div class="highlight highlight_p_width <%= (self.current_user.name == users[i].name)? "highlight_c_rank" : "highlight_rank" %>"><%= ranks[i] %></div>
        <div class="highlight highlight_u_width <%= (self.current_user.name == users[i].name)? "highlight_c_user" : "highlight_user" %>">&nbsp;&nbsp;<%= users[i].name %>&nbsp;<%= image_tag users[i].image, {:class => "image_pos"} %></div>
        <div class="highlight highlight_p_width <%= (self.current_user.name == users[i].name)? "highlight_c_points" : "highlight_points" %>"><%= users[i].total_points %></div>
    <% else %>
        <div>&nbsp;</div>
    <% end %>
    <div class="clear">&nbsp;</div>
  <% end %>
</div>
<div class="clear">&nbsp;</div>
<div class="grid_6" align="center"><%= will_paginate users, :params => {:action => action} %></div>
