<% @schedule.each do |match| %>
    <div class="grid_2"><%= match.country_one.name %></div>
    <div class="grid_1">v.</div>
    <div class="grid_2"><%= match.country_two.name %></div>
    <div class="grid_2"><%= match.stadium.city %></div>
    <div class="grid_2"><%= match.date.strftime("%d-%b, %a") %>&nbsp;
        <% if match.day_night? %>
            <%= image_tag "moon.png", :size => "16x16" %>
        <% else %>
            &nbsp;
        <% end %>
    </div>
    <div class='clear'>&nbsp;</div>
<% end %>
