<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <table>
      <thead>
        <tr>
          <td>Feature</td>
          <td>Comments</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>No</td>
          <td><%= @content.no%></td>
        </tr>
        <tr>
          <td>Rules</td>
          <td><%= @content.rule%></td>
        </tr>
        <tr>
          <td>Prizes</td>
          <td><%= @content.prize%></td>
        </tr>
        <tr>
          <td>Mobile</td>
          <td><%= @content.mobile%></td>
        </tr>
        <tr>
          <td>Look and Feel</td>
          <td><%= @content.laf%></td>
        </tr>
        <tr>
          <td>More Variety</td>
          <td><%= @content.more%></td>
        </tr>
        <tr>
          <td>Not Popular</td>
          <td><%= @content.pop%></td>
        </tr>
        <tr>
          <td>Suggestions</td>
          <td><%= @content.suggest%></td>
        </tr>
        <tr>
          <td>Feedback</td>
          <td><%= @content.feedback%></td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
