<html>
<head>
  <title>Rammi</title>
  <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Kreon:light' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag :all%>
</head>
<body>
  <div align="center">
    <div class="inner_shadow banner">Rammi</div>
    <h3 class="inner_shadow">under construction</h3>
    <table>
      <tr>
        <td colspan="3" align="center"><a href="/auth/open_id?openid_url=https://www.google.com/accounts/o8/id" class="auth_provider"><%= image_tag "google.png", :size => "48x48", :alt => "Google" %></a></td>
        <td colspan="3" align="center"><a href="/auth/open_id?openid_url=https://me.yahoo.com" class="auth_provider"><%= image_tag "yahoo.png", :size => "48x48", :alt => "Yahoo" %></a></td>
      </tr>
      <tr>
        <td colspan="2" align="center"><a href="/auth/twitter" class="auth_provider"><%= image_tag "twitter.png", :size => "24x24", :alt => "Twitter" %></a></td>
        <td colspan="2" align="center"><a href="/auth/facebook" class="auth_provider"><%= image_tag "facebook.png", :size => "24x24", :alt => "Facebook" %></a></td>
        <td colspan="2" align="center"><a href="/auth/open_id" class="auth_provider"><%= image_tag "openid.png", :size => "24x24", :alt => "Open ID" %></a></td>
      </tr>
  </table>
  </div>
</body>
</html>
