<% content_for :title, "Ranking" %>
<div class="grid_6 desc" align="center"><strong>Overall</strong></div>
<div class="grid_6 desc" align="center"><strong>Your Friends Circle</strong></div>
<div class="clearfix">&nbsp;</div>

<div class="grid_1">&nbsp;</div>
<div class="grid_1"><strong>Rank</strong></div>
<div class="grid_3">&nbsp;</div>
<div class="grid_1" align="center"><strong>Points</strong></div>

<div class="grid_1">&nbsp;</div>
<div class="grid_1"><strong>Rank</strong></div>
<div class="grid_3">&nbsp;</div>
<div class="grid_1"><strong>Points</strong></div>
<div class="clear">&nbsp;</div>


<% User.per_page.times do |i| %>
    <% if @users[i] %>
        <div class="grid_1">&nbsp;</div>
        <div class="grid_1 highlight_rank"><%= @user_ranks[i] %></div>
        <div class="grid_3 highlight_user">&nbsp;&nbsp;<%= @users[i].name %>&nbsp;<%= image_tag @users[i].image, {:class => "image_pos"} %></div>
        <div class="grid_1 highlight_points"><%= @users[i].total_points %></div>
    <% else %>
        <div class="grid_6">&nbsp;</div>
    <% end %>

    <% if @user_friends[i] %>
        <div class="grid_1">&nbsp;</div>
        <div class="grid_1 highlight_rank"><%= @friend_ranks[i] %></div>
        <div class="grid_3 highlight_user">&nbsp;&nbsp;<%= @user_friends[i].name %>&nbsp;<%= image_tag @user_friends[i].image, {:class => "image_pos"} %></div>
        <div class="grid_1 highlight_points"><%= @user_friends[i].total_points %></div>
    <% else %>
        <div class="grid_6">&nbsp;</div>
    <% end %>
    <div class="clear">&nbsp;</div>
<% end %>
<div class="clearfix">&nbsp;</div>
<div class="grid_4" align="center"><%= will_paginate @users, :params => {:action => "all"} %></div>
<div class="grid_2">&nbsp;</div>
<div class="grid_4" align="center"><%= will_paginate @user_friends, :params => {:action => "friend"} %></div>

