<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1"/>
    <title>Rummy - <%= h yield(:title) %></title>
    <!--<link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>-->
    <%= javascript_include_tag "jquery-1.5.min" %>
    <%= javascript_include_tag "prototype" %>
    <%= javascript_include_tag "effects" %>
    <%= javascript_include_tag "dragdrop" %>
    <%= javascript_include_tag "application" %>
    <%= stylesheet_link_tag "new_twitter" %>
    <%= stylesheet_link_tag "grid" %>
    <%= stylesheet_link_tag "main" %>
    <!--<script src="http://connect.facebook.net/en_US/all.js#appId=190939097590526&amp;xfbml=1"></script>-->
</head>
<body>
<div class="container_12">
    <div class="grid_2">&nbsp;</div>
    <div class="grid_2">&nbsp;<%= image_tag "icc-world-cup.png", {:style => "position: absolute; right: 0;"} %></div>
    <div class="grid_4 inner_shadow banner" align="center">Rummy</div>
    <div class="grid_2">&nbsp;<%= image_tag "rummy.png", {:style => "position: absolute; height: 120px;"} %></div>
    <div id="profile_pic" class="grid_2" align="right">
        <%= image_tag current_user.image, {:style => "position: absolute; bottom: 0; right: 0"} %>
    </div>
    <div class="clearfix">&nbsp;</div>
    <div id="sign_out" class="grid_12" align="right">&nbsp;&nbsp;<%= link_to 'sign out', logout_path %></div>
    <div align="center" class="grid_8">
        <ul id="menu">
            <li><%= link_to 'Home', :controller => 'session' %></li>
            <li><%= link_to 'Schedule', :controller => 'schedule' %></li>
            <li><%= link_to 'Rules', :controller => 'rules' %></li>
            <li><%= link_to 'Play!', {:controller => 'game'}, :class => "high_play" %></li>
            <li><%= link_to 'Ranking', :controller => 'myspace' %></li>
            <li><%= link_to 'Trends', :controller => 'trends' %></li>
            <li><%= link_to 'Stats', :controller => 'statistics' %></li>
            <li><%= link_to 'Feedback', :controller => 'feedback' %></li>
        </ul>
    </div>
    <div class="clear clearfix">&nbsp;</div>
    <div class="clearfix">&nbsp;</div>
    <% matches = Match.find(:all, :conditions => ['Date(date) = ?', Time.now])
       if !matches.empty?
           matches.each do |match|
               if Time.now > match.date and match.status == 'active' %>
                <div class="grid_12 highlight_message" align="center">
                    <%= "#{match.country_one.name} v. #{match.country_two.name} is in progress. Check back once the game is over for updated rankings." %>
                </div>
            <% end %>
        <% end %>
    <% end %>
    <%= yield %>
    <div class="clear clearfix">&nbsp;</div>
    <div class="clearfix">&nbsp;</div>

    <div class="footer grid_12" align="center">&#169;&nbsp;<a href="http://openbala.com">openbala</a> 2011</div>
    <div class="clearfix">&nbsp;</div>
</div>
</body>
</html>
